.leave-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.leave-card {
  position: relative;
  background: #fff;
  border-radius: 25px;
  padding: 20px 14px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: all 0.25s ease;
}

.leave-card.on {
  border: 2px solid #f2a7a0;
  background: #fff6e9;
}

.leave-card.off {
  border: 2px solid #239251;
  background: #e6f4ea;
}

.leave-icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: #fff;
  box-shadow: inset 0 0 0 2px #ddd;
  transition: all 0.25s ease;
}

.leave-card.on .leave-icon-circle {
  background: #fce2d8;
  box-shadow:
    0 0 0 3px #f2a7a0,
    0 6px 14px rgba(242,167,160,0.4);
  transform: scale(1.05);
}

.leave-card.off .leave-icon-circle {
  background: #c8e9d6;
  box-shadow:
    0 0 0 3px #239251,
    0 6px 14px rgba(242,167,160,0.4);
  transform: scale(1.05);
}

.leave-title {
  margin: 5px 0px;
  font-weight: 800;
}

.leave-sub {
  font-size: 13px;
  color: #666;
}

.leave-status {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 800;
  color: #888;
}

.leave-card.on .leave-status {
  color: #c0392b; /* 경고 빨강 */
}

.leave-card.off .leave-status {
  color: #1e8449; /* 안정 녹색 */
}


.button-row {
  display: flex;
  gap: 12px;
  margin: 5px 0;
}

.add-btn.primary-home {
  flex: 1;
  background: var(--primary);
  color: #fff;
  box-shadow: 0 6px 16px rgba(74,144,226,0.35);
  margin: 10px 0 25px 0px;
  border-radius: 50;
}

.reset-btn.outline {
  flex: 1;
  background: #fff;
  color: var(--primary-dark);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
  margin: 10px 0 25px 0px;
  border-radius: 50;
}